<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="FileConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename={0}\Library.mdf;Database=Library;Integrated Security=True;Connect Timeout=30"
			providerName="System.Data.SqlClient" />
		<add name="DefaultConnection" connectionString="Data Source=DESKTOP-T7FENS0;Database=Library;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>